/* 
&display=swap
&subset=cyrillic-ext 
*/
@import "_null";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap"');

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 19px;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #161c2d;
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

.header {
}

.main {
  flex: 1 1 auto;
}

.services {
  background: #f4f7fa;
  // .services__container

  &__container {
  }

  // .services__content

  &__content {
    padding: 92px 0px 135px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .services__title

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.03em;
    text-align: center;
    max-width: 769px;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  // .services__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 769px;
    color: rgba(22, 28, 45, 0.7);
  }
}

.alert {
  background: #473bf0;
  // .alert__container

  &__container {
  }

  // .alert__content

  &__content {
    padding: 34px 0px 34px 0px;
  }

  // .alert__text

  &__text {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }

  // .alert__link

  &__link {
    color: #ffffff;
    text-decoration: underline;
  }
}

.footer {
}
