/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap"');
@import "_null";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 19px;
}

body {
  font-family: "Gilroy", sans-serif;
  color: rgba(22, 28, 45, 0.7);
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

[class*="_ibg"] {
  position: relative;
}

[class*="_ibg"] img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.03em;
  color: #161c2d;
}

.button {
  font-family: "Gilroy", sans-serif;
  padding: 14px 21px 14px 21px;
  background-color: #473bf0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 17px;
  line-height: 188%;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-align: center;
  transition: all 0.3s ease;
  &:hover {
    background-color: #675df0;
    box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2),
      0 8px 16px 0 rgba(38, 38, 38, 0.24);
  }

  // .button_arrow

  &_arrow {
    display: inline-flex;
    align-items: center;
    column-gap: 44px;
    &::after {
      content: "";
      flex: 0 0 15px;
      min-width: 15px;
      height: 15px;
      background: url("../assets/button-arrow.svg") 0 0 no-repeat;
    }
  }
}

.header {
}

.main {
  flex: 1 1 auto;
}

.promo {
  // .promo__container
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #161c2d 99.93%),
    url("../assets/promo/img/promo-bg.jpg") center / cover no-repeat;
  &__container {
  }

  // .promo__content

  &__content {
    padding: 187px 0px 143px 0px;
    max-width: 589px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }

  // .promo__description

  &__description {
  }

  // .promo__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
  }

  // .promo__title

  &__title {
    font-size: 60px;
    line-height: 108%;
    color: #ffffff;
  }

  // .promo__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.65);
    max-width: 487px;
  }
  // .promo__button

  &__button {
    align-self: flex-start;
  }
}

.facts {
  border-bottom: 2px solid #d8d8d8;
  // .facts__container

  &__container {
  }

  // .facts__content

  &__content {
    padding: 80px 45px 75px 45px;
  }

  // .facts__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0px -45px;
    row-gap: 45px;
  }

  // .facts__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0px 45px;
    min-width: 355px;
  }
}
.item-fact {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  // .item-fact__value

  &__value {
    align-self: flex-start;
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    letter-spacing: -0.04em;
    color: #161c2d;
  }

  // .item-fact__text

  &__text {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: rgba(22, 28, 45, 0.7);
  }
}

.services {
  background: #ffffff;
  // .services__container

  &__container {
  }

  // .services__content

  &__content {
    padding: 92px 0px 135px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 92px;
  }

  //. services__description

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    text-align: center;
  }

  // .services__title

  &__title {
  }

  // .services__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    max-width: 589px;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 92px;
    }
  }

  // .services__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -15px;
    row-gap: 30px;
  }

  // .services__item

  &__item {
    flex: 0 1 25%;
    padding: 0px 15px;
    min-width: 230px;
    transition: all 0.5s ease 0s;
    // @media (max-width: 869.8px) {
    //   flex: 0 1 50%;
    // }
    // @media (max-width: 579.8px) {
    //   flex: 0 1 100%;
    // }
  }
}
.item-services {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #e7e9ed;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  &:hover {
    box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.08);
  }
  // .item-services__image

  &__image {
    padding: 0px 0px 73.893% 0px;
    border-bottom: 1px solid #e7e9ed;
  }

  // .item-services__img

  &__img {
  }

  // .item-services__body

  &__body {
    flex: 1 1 auto;
    padding: 15px 19px 15px 22px;
  }
  // .item-services__title

  &__title {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: #161c2d;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    &::after {
      flex: 0 0 17px;
      min-width: 17px;
      height: 12px;
      content: "";
      background: url("../assets/services/icons/services-arrow.svg") 0 0
        no-repeat;
    }
    &:hover {
      color: #675df0;
    }
    &:hover::after {
      transition: all 0.3s ease 0s;
      background: url("../assets/services/icons/services-arrow_hover.svg") 0 0
        no-repeat;
    }
  }
}

.why-choose-us {
  background: #f4f7fa;
  // .why-choose-us__container

  &__container {
  }

  // .why-choose-us__content

  &__content {
    padding: 92px 0px 135px 0px;
  }

  //.why-choose-us__header

  &__header {
  }

  // .why-choose-us__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  // .why-choose-us__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 589px;
    margin: 0 auto;
  }
}

.alert {
  background: #473bf0;
  // .alert__container

  &__container {
  }

  // .alert__content

  &__content {
    padding: 34px 0px 34px 0px;
  }

  // .alert__text

  &__text {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }

  // .alert__link

  &__link {
    color: #ffffff;
    text-decoration: underline;
  }
}

.reviews {
  // .reviews__container

  &__container {
  }

  // .reviews__content

  &__content {
    padding: 104px 0px 109px 0px;
  }

  // .reviews__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -30px;
    row-gap: 60px;
  }

  // .reviews__item

  &__item {
    flex: 1 1 33.333%;
    flex-wrap: wrap;
    padding: 0px 30px;
  }
}
.item-reviews {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  text-align: center;

  // .item-reviews__logo

  &__logo {
    flex: 0 0 52px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  // .item-reviews__img

  &__img {
    max-width: 100%;
    max-height: 52px;
  }

  // .item-reviews__text

  &__text {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161c2d;
  }

  // .item-reviews__profile

  &__profile {
  }
}
.profile {
  display: flex;
  column-gap: 19.46px;
  align-items: center;

  // .profile__image

  &__image {
    flex: 0 0 66px;
    min-width: 66px;
    height: 47px;
  }

  // .profile__img

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  // .profile__body

  &__body {
  }

  // .profile__name

  &__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: #161c2d;
  }

  // .profile__position

  &__position {
    font-size: 15px;
    line-height: 173%;
    letter-spacing: -0.01em;
    color: rgba(22, 28, 45, 0.7);
  }
}

.consultancy {
  background: #161c2d url("../assets/consultancy/img/consultancy-bg.png") 50% 0 /
    cover no-repeat;
  // .consultancy__container

  &__container {
  }

  // .consultancy__content

  &__content {
    padding: 123px 0px 123px 0px;
    display: flex;
    row-gap: 40px;
    column-gap: 40px;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  // .consultancy__info

  &__info {
    flex: 0 1 429px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 46px;
  }

  // .consultancy__image

  &__image {
    flex: 0 0 87px;
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  // .consultancy__icon

  &__icon {
    max-width: 100%;
    max-height: 87px;
  }

  // .consultancy__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }

  // .consultancy__title

  &__title {
    color: #ffffff;
  }

  // .consultancy__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.65);
  }

  // .consultancy__form

  &__form {
    flex: 0 1 350px;
  }
}

.form-consultancy {
  padding: 30px 25px 30px 25px;
  background-color: #ffffff;
  border: 1px solid #e7e9ed;
  border-radius: 10px;
  box-shadow: 0 34px 33px -23px rgba(22, 28, 45, 0.13);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // .form-consultancy__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  // .form-consultancy__item

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  // .form-consultancy__label

  &__label {
    font-weight: 700;
    font-size: 15px;
    line-height: 173%;
    letter-spacing: -0.01em;
    color: #161c2d;
  }

  // .form-consultancy__input

  &__input {
    min-height: 50px;
    width: 100%;
    padding: 0px 18px 0px 18px;
    border: 1px solid #e7e9ed;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: #000000;
    line-height: 173%;
    letter-spacing: -0.01em;
    &::placeholder {
      color: rgba(22, 28, 45, 0.7);
    }
    &:focus::placeholder {
      font-size: 0;
    }
  }

  // .form-consultancy__select

  &__select {
    min-height: 50px;
    width: 100%;
    padding: 0px 18px 0px 18px;
    border: 1px solid #e7e9ed;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: #000000;
    line-height: 173%;
    letter-spacing: -0.01em;
    &:invalid {
      color: rgba(22, 28, 45, 0.7);
    }
  }

  // .form-consultancy__option

  &__option {
    color: #000000;
  }

  // .form-consultancy__button

  &__button {
    cursor: pointer;
  }
}

.subscribe {
  border-bottom: 2px solid #d8d8d8;
  // .subscribe__container

  &__container {
  }

  // .subscribe__content

  &__content {
    padding: 77px 0px 77px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 30px;
  }

  // .subscribe__title

  &__title {
    flex: 0 1 530px;
  }

  // .subscribe__form

  &__form {
    flex: 0 1 480px;
  }
}

.form-subscribe {
  display: flex;
  column-gap: 20px;
  // .form-subscribe__item

  &__item {
    flex: 1 1 auto;
  }

  // .form-subscribe__input

  &__input {
    min-height: 59.95px;
    width: 100%;
    padding: 0px 19px 0px 19px;
    border: 1px solid #e7e9ed;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: #000000;
    line-height: 173%;
    letter-spacing: -0.01em;
    &::placeholder {
      color: rgba(22, 28, 45, 0.7);
    }
    &:focus::placeholder {
      font-size: 0;
    }
  }
  // .form-subscribe__button

  &__button {
    cursor: pointer;
  }
}

.footer {
}
