@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap"');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 19px;
}

body {
  font-family: "Gilroy", sans-serif;
  color: rgba(22, 28, 45, 0.7);
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.03em;
  max-width: 769px;
  color: #161c2d;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(99.93%, #161c2d)), url("../assets/promo/promo-bg.jpg") center/cover no-repeat;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #161c2d 99.93%), url("../assets/promo/promo-bg.jpg") center/cover no-repeat;
}
.promo__content {
  padding: 187px 0px 143px 0px;
  max-width: 589px;
}
.promo__title {
  font-size: 60px;
  line-height: 108%;
  color: #ffffff;
}
.promo__title:not(:last-child) {
  margin-bottom: 29px;
}
.promo__text {
  line-height: 168%;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.65);
  max-width: 487px;
}

.services {
  background: #ffffff;
}
.services__content {
  padding: 92px 0px 135px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__header {
  max-width: 769px;
  margin: 0px auto;
}
.services__title {
  text-align: center;
}
.services__title:not(:last-child) {
  margin-bottom: 17px;
}
.services__text {
  line-height: 168%;
  letter-spacing: -0.01em;
  text-align: center;
  max-width: 589px;
  margin: 0 auto;
}

.why-choose-us {
  background: #f4f7fa;
}
.why-choose-us__content {
  padding: 92px 0px 135px 0px;
}
.why-choose-us__header {
  max-width: 769px;
  margin: 0px auto;
}
.why-choose-us__title {
  text-align: center;
}
.why-choose-us__title:not(:last-child) {
  margin-bottom: 17px;
}
.why-choose-us__text {
  line-height: 168%;
  letter-spacing: -0.01em;
  text-align: center;
  max-width: 589px;
  margin: 0 auto;
}

.alert {
  background: #473bf0;
}
.alert__content {
  padding: 34px 0px 34px 0px;
}
.alert__text {
  font-size: 17px;
  line-height: 171%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}
.alert__link {
  color: #ffffff;
  text-decoration: underline;
}