/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap"');
@import "_null";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 19px;
}

body {
  font-family: "Gilroy", sans-serif;
  color: rgba(22, 28, 45, 0.7);
  line-height: 1;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.03em;
  color: #161c2d;
}

.header {
}

.main {
  flex: 1 1 auto;
}

.promo {
  // .promo__container
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #161c2d 99.93%),
    url("../assets/promo/promo-bg.jpg") center / cover no-repeat;
  &__container {
  }

  // .promo__content

  &__content {
    padding: 187px 0px 143px 0px;
    max-width: 589px;
  }

  // .promo__title

  &__title {
    font-size: 60px;
    line-height: 108%;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  // .promo__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.65);
    max-width: 487px;
  }
}

.facts {
  border-bottom: 2px solid #d8d8d8;
  // .facts__container

  &__container {
  }

  // .facts__content

  &__content {
    padding: 80px 45px 75px 45px;
  }

  // .facts__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -45px;
    row-gap: 45px;
  }

  // .facts__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0px 45px;
    min-width: 355px;
  }

  // .facts__value

  &__value {
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    letter-spacing: -0.04em;
    color: #161c2d;
  }

  // .facts__text

  &__text {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: rgba(22, 28, 45, 0.7);
  }
}
.item-fact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 30px;
}

.services {
  background: #ffffff;
  // .services__container

  &__container {
  }

  // .services__content

  &__content {
    padding: 92px 0px 135px 0px;
  }

  //. services__ header

  &__header {
  }

  // .services__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  // .services__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 589px;
    margin: 0 auto;
  }
}
.why-choose-us {
  background: #f4f7fa;
  // .why-choose-us__container

  &__container {
  }

  // .why-choose-us__content

  &__content {
    padding: 92px 0px 135px 0px;
  }

  //.why-choose-us__header

  &__header {
  }

  // .why-choose-us__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  // .why-choose-us__text

  &__text {
    line-height: 168%;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 589px;
    margin: 0 auto;
  }
}

.alert {
  background: #473bf0;
  // .alert__container

  &__container {
  }

  // .alert__content

  &__content {
    padding: 34px 0px 34px 0px;
  }

  // .alert__text

  &__text {
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
  }

  // .alert__link

  &__link {
    color: #ffffff;
    text-decoration: underline;
  }
}

.reviews {
  // .reviews__container

  &__container {
  }

  // .reviews__content

  &__content {
    padding: 104px 0px 109px 0px;
  }

  // .reviews__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -30px;
    row-gap: 60px;
  }

  // .reviews__item

  &__item {
    flex: 1 1 33.333%;
    flex-wrap: wrap;
    padding: 0px 30px;
  }
}
.item-reviews {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  text-align: center;

  // .item-reviews__logo

  &__logo {
    flex: 0 0 35px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  // .item-reviews__img

  &__img {
    max-width: 100%;
    max-height: 35px;
  }

  // .item-reviews__text

  &__text {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161c2d;
  }

  // .item-reviews__profile

  &__profile {
  }
}
.profile {
  display: flex;
  column-gap: 19.46px;

  // .profile__image

  &__image {
    align-self: center;
    flex: 0 0 66px;
    min-width: 66px;
    height: 47px;
  }

  // .profile__img

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  // .profile__body

  &__body {
  }

  // .profile__name

  &__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: #161c2d;
  }

  // .profile__position

  &__position {
    font-size: 15px;
    line-height: 173%;
    letter-spacing: -0.01em;
    color: rgba(22, 28, 45, 0.7);
  }
}

.footer {
}
